.cart-widget {
  z-index: 2;
  padding: 0.5rem;
  border-radius: 1rem 1rem 0 0;
}

.cart-widget__btn {
}

.cart-widget__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.cart-widget__quantity {
  display: block;
  position: absolute;
  top: -0.2rem;
  right: 0;
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--color-alpha);
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.cart-widget__items-container {
  position: absolute;
  z-index: 10;
  right: 2.5rem;
  min-height: 0;
  padding: 1rem;
  pointer-events: none;
  opacity: 0;
  border: solid 1px var(--color-alpha);
  border-top: 3px solid var(--color-alpha);
  background-color: white;
  transition: opacity 0.3s ease;
}

.cart-widget__items-container.active {
  display: block;
  pointer-events: auto;
  min-height: 6rem;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.cart-widget__items-container h5 {
  margin: 0;
}

.cart-widget__items-container ul {
  padding: 0;
  text-align: left;
}

.cart-widget__items-container ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  font-size: 1rem;
}

.cart-widget .btn--big {
  margin-bottom: 0;
  text-decoration: none;
  line-height: 2rem;
  font-size: 1rem;
}

@media screen and (min-width: 750px) {
  .cart-widget {
    order: 1;
  }
}
