:root {
  --color-alpha: #645dc3e5;
  --color-beta: #133c50ff;
  --color-gamma: #f7c673ff;
  --color-psi: #1f1f1f;
  --color-omega: #fff;
}

*:active,
*:focus {
  outline: none;
}

.icon-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 2;
  appearance: unset;
  background-color: transparent;
  border: none;
  margin: 0;
}

.icon-btn:active,
.icon-btn:focus {
  outline: none;
}

.appear {
  opacity: 0;
  animation: appear 1s ease forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.App {
  text-align: center;
  min-height: 101vh;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    filter: invert(100%) hue-rotate(90deg);
  }
}


