.item-count {
  display: flex;
  flex-direction: column;
  height: auto;
}

.btn-group {
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.group{
  padding: 0;
  margin: 0;
}

.group .plus,
.group .minus {
  cursor: pointer;
  width: 2rem;
  font-weight: bold;
}

.group .plus:hover,
.group .minus:hover {
  background-color: lightgray;
}

.group .plus,
.group .minus,
.group .input-number {
  height: 2rem;
  border: none;
  border-radius: 0;
  background-color: rgb(236, 236, 236);
}

.input-number {
  padding: 0 ;
  width: calc(100% - 4rem);
  min-width: 2rem;
  text-align: center;
}

.input-number:focus {
  outline: none;
}

.stock {
  text-align: left;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-gamma);
  margin: .5rem 0;
}
